{
  "request": {
    "urlRoot": "http://src_url.net",
    "urlPath": "/path/src",
    "headers": {
      "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:57.0) Gecko/20100101 Firefox/57.0",
      "Content-Type": "application/x-www-form-urlencoded",
      "Cache-Control": "no-cache",
      "Referrer": "https://src_url.net/path/src",
      "Host": "src_url.net"
    }
  },
  "mongo": {
    "host": "mongodb://127.0.0.1:27017/fxlines",
    "pollSize": 5,
    "options": {
      "useUnifiedTopology": true,
      "useNewUrlParser": true,
      "reconnectTries": 10,
      "reconnectInterval": 200,
      "connectTimeoutMS": 1000
    }
  },
  "pairs": [
    "eur/usd",
    "usd/jpy",
    "gbp/usd",
    "eur/gbp",
    "usd/chf",
    "eur/jpy",
    "eur/chf",
    "usd/cad",
    "aud/usd",
    "gbp/jpy",
    "btc/usd",
    "eth/usd"
  ],
  "minPerPeriod": 15
}